@media(max-width:600px){
    .mainintro{
       overflow: scroll;
       margin-top: 100px;
    }
    .main{
        flex-direction: column;
        align-items: center;
        padding: 15px;
        
    }
    .github1{
        display: none;
    }
    .github2{
        display: none;
    }
}