@media(max-width:600px){
    .intro{
        flex-direction: column;
        margin-top: 130px;
        align-items: center;
        gap: 30px;
        
    }
    .left div{
        font-size: large;
       width: 210px;
        
    }
    .right{
        width: 400px;
        height: 400px;
    }
    .skillset{
        grid-template-columns: repeat(3,110px);
        padding-left: 25px;
       
    }
    
}